body {
  padding: 30px 20px;
}

body, button {
  font-family: sans-serif;
  font-size: 11pt;
}

.column {
  width: 340px;
  margin-left: 10px;
  float: left;
  margin-bottom: 200px;
}

.two-columns {
  margin: 0 auto;
  width: 700px;
}

.output {
  height: 200px;
  background: #fafafa;
  padding: 10px;
}

.button {
  padding: 8px 4px 10px 12px;
  border-left-width: 0;
  border-right-width: 0;
  display: inline-block;
}

.button.literal, .button.being-edited-by-human {
  padding-right: 12px;
}


.indenter {
  position: relative;
  z-index: 1;
}

.indenter::before {
  z-index: 0;
  content: " ";
  display: block;
  position: absolute;
  border-left: 2px solid black;
  height: 105%;
  top: 98%;
  left: 4px;
  transform: rotate(-20deg);
}

.function-literal-label::before {
  border-color: #666;
}

.variable-name::before {
  border-color: #f8e;
}

.function-call-name::before {
  border-color: #88f;
}





.argument-name {
  display: inline-block;
  color: #5de;
}

.argument-name {
  display: inline-block;
}

.function-argument-names {
  display: inline;
}

/* Yucky inheritance stuff that has to be updated when things change: */
.variable-assignment .function-call.function-argument {
  display: block;
}

.function-call-name {
  color: #88f;
  border-left: 2px solid #88f;
}

.function-call-args {
  margin-left: 12px;
}

.call-in-call .function-call-name {
  border-bottom-width: 0;
  margin-bottom: -2px;
}

.function-argument:last-child {
  margin-bottom: 0;
}

.button.function-call-name,
.ghost-expression,
.variable-name,
.function-literal-label {
  max-width: 70%;
  box-sizing: border-box;
}

.ghost-expression,
.program {
  margin-top: 150px;
  margin-bottom: 150%;
}

.ghost-expression {
  display: inline-block;
  margin-top: 8px;
}

.ghost.button {
  background: #ccf;
  padding: 1px;
  min-width: 18px;
}

.ghost-baby-line {
  height: 32px;
  line-height: 32px;
  width: 32px;
  color: white;
  background: #88f;
  text-align:  center;
  display: block;
  cursor: default;
}



.button.literal, .key {
  background: #fafafa;
}

.button.literal, .key, .function-literal-label {
  color: #666;
}


.function-literal-label {
  border-left: 2px solid #666;
}

.function-literal-body {
  padding-left: 12px;
}

.leads-to-function-call {
  border-left: 2px dashed #eee;
}

/* Is this really supposed to be .indenter? Just guessing. This should be refactored without the descendant selector anyway. */

.leads-to-function-call > .indenter {
  margin-left: -2px;
}

.variable-name {
  color: #f8e;
  border-left: 2px solid #f8e;
}

.variable-reference {
  color: #f8e;
}


.rhs {
  margin-left: 12px;
}

.leads-to-function-call > .rhs {
  margin-left: 10px;
}

.key-pair .literal {
  display: inline-block;
}

.key {
  margin-right: 12px;
}

.object-literal, .array-literal {
  border-left: 2px solid #bbb;
}

.array-item {
  display: block;
}



/* MENU */

.menu-item {
  white-space: nowrap;
  min-width: 90px;
  min-height: 1em;
  color: white;
  border-bottom: 1px solid #8af;
  background: #88f;
  cursor: default;
  padding-bottom: 9px;
}

.menu-item:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.menu {
  margin: 0 auto;
  margin-top: 20%;
  max-width: 200px;
}








/* This stuff shold stay at the bottom of the file */

.selected, .button.selected {
  background: #cff;
  position: relative;
  z-index: 1;
}

.selected .key, .selected .literal {
  background: #e6fcfc;
}

.selector {
  display: none;
  color: white;
  text-align: right;
  font-size: 32px;
  line-height: 32px;
  padding-right: 50px; 
  box-sizing: border-box;
  position: fixed;
  z-index: -1;
  content: " ";
  width: 90%;
  height: 52px;
  background: #dff;
  border: 10px solid #f5ffff;
  left: 50%;
  margin-left: -45%;
  top: 110px; /* SELECTOR_TOP - border width */
}






/* Hide everything but buttons

div, button {
  background: none !important;
  border: none !important;
  color: black;
}

button {
  background: #ccc !important;
} /**/

