body {
  padding: 30px 20px
}
body, button {
  font-family: sans-serif;
  font-size: 11pt;
}

.column {
  width: 340px;
  margin-left: 10px;
  float: left;
}

.two-columns {
  margin: 0 auto;
  width: 700px;
}

.output {
  height: 200px;
  background: #fafafa;
  padding: 10px;
}

.button, .argument-name {
  color: white;
  padding: 10px 12px;
}

.button {
  color: white;
  border-left-width: 0;
  border-right-width: 0;
  background: transparent;
  display: inline-block;
  cursor: default;
}

.depth-1 {
  background: #99f;
}

.depth-2 {
  background: #88f;
}

.argument-name {
  display: inline-block;
  background: #8af;
  margin-right: 12px;
}

.argument-name {
  display: inline-block;
}

.function-argument-names {
  display: inline;
}

.variable-assignment .function-call {
  display: inline;
}

.function-argument {
  margin-bottom: 12px;
}

/* Yucky inheritance stuff that has to be updated when things change: */
.variable-assignment .function-call.function-argument {
  display: block;
}


.call-in-call .function-call-name,
.call-in-call .function-call-args {
  border: 2px solid #88f;
  padding-top: 8px;
  box-sizing: border-box;
}

.call-in-call .function-call-name {
  border-bottom-width: 0;
  margin-bottom: -2px;
}

.function-argument:last-child {
  margin-bottom: 0;
}

.function-call-args {
  background: #99f;
  padding: 12px;
}

.button.function-call-name,
.ghost-expression,
.variable-name,
.function-literal-label,
.logo {
  min-width: 100px;
  max-width: 70%;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.ghost-expression,
.logo {
  margin-bottom: 10px;
}

.logo {
  margin-top: 10px;
  color: #eeffff;
  font-size: 30pt;
  line-height: 36px;
  background: #e8e8ff;
}

.ghost-expression {
  display: inline-block;
  margin-right: 10px;
}

.ghost.button {
  background: #bbf;
}

.ghost.button.on-white {
  background: #eef;
}

.ghost .button.depth-2 {
  background: #bbf;
}






.function-literal-body {
  padding: 12px;
}

.function-literal-line {
  margin-bottom: 12px;
}
.function-literal-line:last-child {
  margin-bottom: 0;
}



.variable-assignment, .variable-reference {
  background: #b488ff;
}

.variable-assignment {
  padding: 0 12px 12px 12px;
}

.variable-name {
  margin-left: -10px;
}

.key-pair .literal {
  display: inline-block;
}

.key-pair {
  margin-bottom: 12px;
}

.key-pair:last-child {
  margin-bottom: 0;
}

.key {
  margin-right: 12px;
}

.object-literal, .array-literal {
  border-left: 2px solid #bbf;
}

.array-item {
  display: block;
  margin-bottom: 12px;
}



.human-words-and-stuff  {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 20%;
  text-align: center;
  font-size: 40px;
  border: none;
  border-top: 20px solid red;
  background: white;
  padding: 0px 0 20px 0;
}

.being-edited-by-human {
  padding-top: 4px !important;
  border-width: 0px !important;
  border-top: 6px solid red !important;
  color: black !important;
  background: white !important;
  opacity: 0.7 !important;
}







/* Hide everything but buttons

div, button {
  background: none !important;
  border: none !important;
  color: black;
}

button {
  background: #ccc !important;
} /**/

